<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.mango.admin.dao.PhotoMapper">
  <resultMap id="BaseResultMap" type="com.louis.mango.admin.model.Photo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classification" jdbcType="VARCHAR" property="classification" />
    <result column="photo_name" jdbcType="VARCHAR" property="photoName" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="resolution_ratio" jdbcType="VARCHAR" property="resolutionRatio" />
    <result column="burn_after_reading" jdbcType="INTEGER" property="burnAfterReading" />
    <result column="communication_step" jdbcType="INTEGER" property="communicationStep" />
    <result column="number_of_share" jdbcType="INTEGER" property="numberOfShare" />
    <result column="additional_infomation" jdbcType="VARCHAR" property="additionalInfomation" />
    <result column="like_number" jdbcType="INTEGER" property="likeNumber" />
    <result column="comments_number" jdbcType="INTEGER" property="commentsNumber" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, classification, photo_name, tag, size, path, resolution_ratio, burn_after_reading, 
    communication_step, number_of_share, additional_infomation, like_number, comments_number, 
    user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from photo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from photo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.louis.mango.admin.model.Photo">
    insert into photo (id, classification, photo_name, 
      tag, size, path, resolution_ratio, 
      burn_after_reading, communication_step, number_of_share, 
      additional_infomation, like_number, comments_number, 
      user_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{classification,jdbcType=VARCHAR}, #{photoName,jdbcType=VARCHAR}, 
      #{tag,jdbcType=VARCHAR}, #{size,jdbcType=DOUBLE}, #{path,jdbcType=VARCHAR}, #{resolutionRatio,jdbcType=VARCHAR}, 
      #{burnAfterReading,jdbcType=INTEGER}, #{communicationStep,jdbcType=INTEGER}, #{numberOfShare,jdbcType=INTEGER}, 
      #{additionalInfomation,jdbcType=VARCHAR}, #{likeNumber,jdbcType=INTEGER}, #{commentsNumber,jdbcType=INTEGER}, 
      #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.louis.mango.admin.model.Photo">
    insert into photo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="photoName != null">
        photo_name,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="resolutionRatio != null">
        resolution_ratio,
      </if>
      <if test="burnAfterReading != null">
        burn_after_reading,
      </if>
      <if test="communicationStep != null">
        communication_step,
      </if>
      <if test="numberOfShare != null">
        number_of_share,
      </if>
      <if test="additionalInfomation != null">
        additional_infomation,
      </if>
      <if test="likeNumber != null">
        like_number,
      </if>
      <if test="commentsNumber != null">
        comments_number,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="photoName != null">
        #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=DOUBLE},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="resolutionRatio != null">
        #{resolutionRatio,jdbcType=VARCHAR},
      </if>
      <if test="burnAfterReading != null">
        #{burnAfterReading,jdbcType=INTEGER},
      </if>
      <if test="communicationStep != null">
        #{communicationStep,jdbcType=INTEGER},
      </if>
      <if test="numberOfShare != null">
        #{numberOfShare,jdbcType=INTEGER},
      </if>
      <if test="additionalInfomation != null">
        #{additionalInfomation,jdbcType=VARCHAR},
      </if>
      <if test="likeNumber != null">
        #{likeNumber,jdbcType=INTEGER},
      </if>
      <if test="commentsNumber != null">
        #{commentsNumber,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.louis.mango.admin.model.Photo">
    update photo
    <set>
      <if test="classification != null">
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="photoName != null">
        photo_name = #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=DOUBLE},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="resolutionRatio != null">
        resolution_ratio = #{resolutionRatio,jdbcType=VARCHAR},
      </if>
      <if test="burnAfterReading != null">
        burn_after_reading = #{burnAfterReading,jdbcType=INTEGER},
      </if>
      <if test="communicationStep != null">
        communication_step = #{communicationStep,jdbcType=INTEGER},
      </if>
      <if test="numberOfShare != null">
        number_of_share = #{numberOfShare,jdbcType=INTEGER},
      </if>
      <if test="additionalInfomation != null">
        additional_infomation = #{additionalInfomation,jdbcType=VARCHAR},
      </if>
      <if test="likeNumber != null">
        like_number = #{likeNumber,jdbcType=INTEGER},
      </if>
      <if test="commentsNumber != null">
        comments_number = #{commentsNumber,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.louis.mango.admin.model.Photo">
    update photo
    set classification = #{classification,jdbcType=VARCHAR},
      photo_name = #{photoName,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      size = #{size,jdbcType=DOUBLE},
      path = #{path,jdbcType=VARCHAR},
      resolution_ratio = #{resolutionRatio,jdbcType=VARCHAR},
      burn_after_reading = #{burnAfterReading,jdbcType=INTEGER},
      communication_step = #{communicationStep,jdbcType=INTEGER},
      number_of_share = #{numberOfShare,jdbcType=INTEGER},
      additional_infomation = #{additionalInfomation,jdbcType=VARCHAR},
      like_number = #{likeNumber,jdbcType=INTEGER},
      comments_number = #{commentsNumber,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>